$primary: #0074d9;
$secondary: pink;
$danger: #dc3545;
$success: yellowgreen;
$info: blue;
$warning: orange;
$light: grey;
$dark: darkgrey;

$pagination-active-bg: #25408f;
$pagination-active-border-color: #25408f;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
);
