@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@font-face {
  font-family: "RE4";
  src: url("../fonts/re4.ttf");
}
@font-face {
  font-family: "Monolisa";
  src: url("../fonts/MonoLisa-normal.woff2");
}

$font-family-base: "Monolisa";
$font-size-base: 1rem;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
