@mixin sub_menu() {
}

.c-navigation {
  &__main-menu {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 50;
    white-space: nowrap;
    > li {
      padding: 10px;
      display: inline;

      &:hover > .c-navigation__sub-menu {
        visibility: visible;
      }

      > a {
        display: block;
        color: white;
      }
    }
  }

  &__sub-menu {
    box-shadow: 0px 3px 5px -1px #ccc;
    position: fixed;
    visibility: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    background: white;
    border-radius: 4px;
    padding: 15px;
    > li {
      padding: 10px;
      display: inline;

      &:hover > .c-navigation__sub-menu {
        visibility: visible;
      }

      > a {
        display: block;
      }
    }
  }
}
