$primary-colour: rgb(32, 221, 174);
$primary-colour-dim: #0a969b;

$secondary-colour: #49ff11;
$alert-colour: #f03;
$warning-colour: yellow;
$success-colour: green;

$grey: #ccc;
$light-grey: #f1f1f1;
$medium-grey: #050505;
$dark-grey: #333333;

//bootstrap overrides
$theme-colors: (
  primary: #25408f,
  // override some or all base color definitions
  secondary: #b6bfd9,
  success: #3e8d63,
  dark: #343a40,
  facebook: #3b5998,
  // you can add as many 'custom' colors as you like
  twitter: #55acee,
  linkedin: #007bb5,
  gmail: #dd5347,
  whatsapp: #12af0a,
);
