.c-navigation {
  $bg: white;

  &__main-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 50;
    white-space: nowrap;
    > li {
      padding: 10px;
      display: inline;

      &:hover > .c-navigation__sub-menu {
        visibility: visible;
      }

      > a {
        display: block;
        color: white;
      }
    }
  }

  &__sub-menu.sub-menu-level-0 {
    padding: 0;
    visibility: hidden;
    list-style: none;
    background: $bg;
    text-align: start;
    box-shadow: 0px 3px 5px -1px #ccc;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 99;
    border-radius: 4px;

    > li {
      display: inline;
      padding: 8px 20px;

      &:hover > .c-navigation__sub-menu {
        visibility: visible;
      }
    }
  }

  &__sub-menu.sub-menu-level-1 {
    padding: 0;
    box-shadow: 0px 3px 5px -1px #ccc;
    position: absolute;
    left: 100%;
    top: 0;
    visibility: hidden;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 0;
    background: $bg;
    border-radius: 4px;

    > li {
      padding: 8px 20px;
      display: inline;

      &:hover > .c-navigation__sub-menu {
        visibility: visible;
      }
    }
  }
}
