@use "sass:color";

.c-post__tags {
  margin-top: 15px;
  & ul {
    padding-left: 0;

    & li {
      display: inline-block !important;
      margin: 4px 4px;

      & a {
        padding: 4px 8px;
        font-size: 14px;
        color: white;
        border-radius: 4px;
        background: $dark;
        text-decoration: none;
      }
    }
  }
}

.c-post__author {
  @extend .card;
  @extend .mt-3;
  @extend .p-3;
}
