@use "sass:color";

.c-post__tags {
  & ul {
    padding-left: 0;

    & li {
      display: inline-block !important;
      margin: 4px 4px;

      & a {
        padding: 4px 8px;
        font-size: 14px;
        color: white;
        border-radius: 4px;
        background: $dark;
      }
    }
  }
}
