@use "sass:math";

// styles.scss
#body {
  color: pink;
  flex: 1;
}

.testing {
  width: math.div(10, 5);
}

::placeholder {
  color: gray;
}

.image {
  background-image: url(image@1x.png);
}
@media (min-resolution: 2dppx) {
  .image {
    background-image: url(image@2x.png);
  }
}
