.widget_recent_entries li {
  list-style-type: none;
  background: $dark;
  border-radius: 5px;
  padding: 8px;
  & > a {
    color: white !important;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
